* {
  margin: 0px;
  padding: 0px;
}

#sign-in-wrapper {
  display: flex;
  width: 100%;
}

.sign-in-image-box {
  width: 830px;
  height: 100vh;
  min-height: 1024px;
  background-image: url("./resource/image/sign-in-background.png");
  background-size: cover;
}

.sign-in-box {
  flex-grow: 1;
  min-width: 610px;
}

.sign-in-container {
  width: 380px;
  height: 523px;
  background-color: antiquewhite;
}
